## Electrical consumption

Import data

In [125]:
import pandas as pd
import geopandas as gpd
from shapely import wkt

In [126]:
df_LMD = pd.read_csv('../data/raw/SET-LMD-nov-2013.csv')

In [127]:
df_LMD

           LINEID              TIME      VALUE
0       DG1000420  2013-11-01 00:00  37.439999
1       DG1000420  2013-11-01 00:10  37.439999
2       DG1000420  2013-11-01 00:20  36.000000
3       DG1000420  2013-11-01 00:30  35.279999
4       DG1000420  2013-11-01 00:40  35.279999
...           ...               ...        ...
794513  DG1056626  2013-11-30 23:10  46.549999
794514  DG1056626  2013-11-30 23:20  44.650002
794515  DG1056626  2013-11-30 23:30  44.599998
794516  DG1056626  2013-11-30 23:40  43.700001
794517  DG1056626  2013-11-30 23:50  43.125000

[794518 rows x 3 columns]

In [128]:
df_CSD = pd.read_csv('../data/raw/SET-CSD.csv')

In [163]:
df_CSD

      SQUAREID     LINEID  NR_SITES
0          155  DG1031221         4
1          272  DG1031221        72
2          273  DG1031221        21
3          276  DG1003117        34
4          277  DG1003117         3
...        ...        ...       ...
2570     10983  DG1013504         5
2571     10984  DG1013504         2
2572     11097  DG1013503         1
2573     11098  DG1013503         6
2574     11099  DG1013503         3

[2575 rows x 3 columns]

In [161]:
#filtered_df = df_CSD[df_CSD['LINEID'] == 'DG1000023']

In [162]:
#filtered_df

     SQUAREID     LINEID  NR_SITES
223      2473  DG1000023         6
224      2474  DG1000023         7
266      2591  DG1000023        14
267      2592  DG1000023        20
312      2709  DG1000023        15

In [130]:
df_grid = gpd.read_file('../data/raw/trentino-grid.geojson')

In [131]:
df_grid

      cellId                                           geometry
0         38  POLYGON ((10.91462 45.68201, 10.92746 45.68179...
1         39  POLYGON ((10.92746 45.68179, 10.94029 45.68157...
2         40  POLYGON ((10.94029 45.68157, 10.95312 45.68136...
3        154  POLYGON ((10.90209 45.69122, 10.91493 45.69100...
4        155  POLYGON ((10.91493 45.69100, 10.92777 45.69079...
...      ...                                                ...
6570   11336  POLYGON ((11.80475 46.52767, 11.81777 46.52735...
6571   11337  POLYGON ((11.81777 46.52735, 11.83080 46.52703...
6572   11452  POLYGON ((11.79219 46.53698, 11.80521 46.53666...
6573   11453  POLYGON ((11.80521 46.53666, 11.81824 46.53634...
6574   11454  POLYGON ((11.81824 46.53634, 11.83126 46.53601...

[6575 rows x 2 columns]

In [132]:
df_twitter = pd.read_csv('../data/interim/twitter_weather.csv')
df_twitter = df_twitter.rename(columns={"geometry_x": "geometry"})
df_twitter = gpd.GeoDataFrame(df_twitter)

In [133]:
df_twitter

,date,time,timestamp_x,user,municipality.name,language,hour_blocks,geometry,station,elevation,timestamp_y,minTemperature,maxTemperature,precipitation,minWind,maxWind,geometry_y,temperature,wind
0,2013-11-01,00:04,1383260656,5fd4f31f75,Trento,it,0,POINT (11.13 46.07),T0129,312,1383260400,11.7,16.0,0.0,0.2,2.0,POINT (11.13565308 46.07185136),13.2,1@47
1,2013-11-01,00:01,1383260474,68c0e98182,Pinzolo,tl,0,POINT (10.83 46.23),T0071,905,1383260400,4.5,12.3,0.0,0.0,2.5,POINT (10.79582897 46.31340453),8.4,0.1@205
2,2013-11-01,00:43,1383262983,abe21fc052,Cavalese,en,30,POINT (11.46 46.29),T0367,958,1383260400,7.0,13.0,0.0,0.0,1.8,POINT (11.45171306 46.28478205),8.8,NaN
3,2013-11-01,00:38,1383262717,94d1efbbfd,Rovereto,it,30,POINT (11.04 45.89),T0147,203,1383260400,11.0,18.4,0.0,0.2,1.9,POINT (11.04378514 45.89643672),13.2,0.6@7
4,2013-11-01,00:45,1383263140,d261d03075,San Michele all'Adige,ru,45,POINT (11.12 46.2),T0408,204,1383260400,9.6,16.9,0.0,NaN,NaN,POINT (11.10461227 46.18722699),11.6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27931,2013-12-31,00:25,1388445948,826558e00e,Vigo di Fassa,it,15,POINT (11.68 46.42),T0096,1205,1388444400,-10.0,0.3,0.0,NaN,NaN,POINT (11.6645808 46.38363633),-7.8,NaN
27932,2013-12-29,13:12,1388319166,06e9b1cdff,Predazzo,it,1300,POINT (11.6 46.31),T0389,1000,1388271600,0.4,3.7,0.0,NaN,NaN,POINT (11.59824667 46.29784352),3.4,NaN
27933,2013-11-19,00:51,1384818699,e61ce711d3,Sant'Orsola Terme,it,45,POINT (11.3 46.11),T0139,925,1384815600,4.3,6.1,0.0,NaN,NaN,POINT (11.30223033 46.10709297),4.8,NaN
27934,2013-11-23,09:49,1385196576,e61ce711d3,Sant'Orsola Terme,it,945,POINT (11.3 46.11),T0139,925,1385161200,-1.6,2.6,0.0,NaN,NaN,POINT (11.30223033 46.10709297),0.8,NaN
27935,2013-12-31,16:31,1388503893,e61ce711d3,Palù del Fersina,it,1630,POINT (11.35 46.13),T0139,925,1388444400,-4.0,4.2,0.0,NaN,NaN,POINT (11.30223033 46.10709297),-0.3,NaN

In [134]:
# remake blocks of 10 minutes (column: hour_blocks)
minutes = df_twitter['time'].str.rsplit(':', n=1).str[1].astype(int)
minutes = (minutes // 10)*10
minutes = minutes.astype(str)
minutes = minutes.str.zfill(2)
#print(minutes)

hours = df_twitter['time'].str.rsplit(':', n=1).str[0]

df_twitter['hour_blocks'] = hours + ':' + minutes

In [135]:
df_twitter

,date,time,timestamp_x,user,municipality.name,language,hour_blocks,geometry,station,elevation,timestamp_y,minTemperature,maxTemperature,precipitation,minWind,maxWind,geometry_y,temperature,wind
0,2013-11-01,00:04,1383260656,5fd4f31f75,Trento,it,00:00,POINT (11.13 46.07),T0129,312,1383260400,11.7,16.0,0.0,0.2,2.0,POINT (11.13565308 46.07185136),13.2,1@47
1,2013-11-01,00:01,1383260474,68c0e98182,Pinzolo,tl,00:00,POINT (10.83 46.23),T0071,905,1383260400,4.5,12.3,0.0,0.0,2.5,POINT (10.79582897 46.31340453),8.4,0.1@205
2,2013-11-01,00:43,1383262983,abe21fc052,Cavalese,en,00:40,POINT (11.46 46.29),T0367,958,1383260400,7.0,13.0,0.0,0.0,1.8,POINT (11.45171306 46.28478205),8.8,NaN
3,2013-11-01,00:38,1383262717,94d1efbbfd,Rovereto,it,00:30,POINT (11.04 45.89),T0147,203,1383260400,11.0,18.4,0.0,0.2,1.9,POINT (11.04378514 45.89643672),13.2,0.6@7
4,2013-11-01,00:45,1383263140,d261d03075,San Michele all'Adige,ru,00:40,POINT (11.12 46.2),T0408,204,1383260400,9.6,16.9,0.0,NaN,NaN,POINT (11.10461227 46.18722699),11.6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27931,2013-12-31,00:25,1388445948,826558e00e,Vigo di Fassa,it,00:20,POINT (11.68 46.42),T0096,1205,1388444400,-10.0,0.3,0.0,NaN,NaN,POINT (11.6645808 46.38363633),-7.8,NaN
27932,2013-12-29,13:12,1388319166,06e9b1cdff,Predazzo,it,13:10,POINT (11.6 46.31),T0389,1000,1388271600,0.4,3.7,0.0,NaN,NaN,POINT (11.59824667 46.29784352),3.4,NaN
27933,2013-11-19,00:51,1384818699,e61ce711d3,Sant'Orsola Terme,it,00:50,POINT (11.3 46.11),T0139,925,1384815600,4.3,6.1,0.0,NaN,NaN,POINT (11.30223033 46.10709297),4.8,NaN
27934,2013-11-23,09:49,1385196576,e61ce711d3,Sant'Orsola Terme,it,09:40,POINT (11.3 46.11),T0139,925,1385161200,-1.6,2.6,0.0,NaN,NaN,POINT (11.30223033 46.10709297),0.8,NaN
27935,2013-12-31,16:31,1388503893,e61ce711d3,Palù del Fersina,it,16:30,POINT (11.35 46.13),T0139,925,1388444400,-4.0,4.2,0.0,NaN,NaN,POINT (11.30223033 46.10709297),-0.3,NaN

In [136]:
df_twitter['geometry'] = df_twitter['geometry'].apply(wkt.loads)

In [137]:
df_twitter = gpd.GeoDataFrame(df_twitter)

In [138]:
df_twitter = df_twitter.set_crs('EPSG:4326')

In [139]:
# merge df_tw and grid by space
df_merged = gpd.sjoin(df_twitter, df_grid, how='inner', predicate='within')

In [140]:
df_merged

,date,time,timestamp_x,user,municipality.name,language,hour_blocks,geometry,station,elevation,...,minTemperature,maxTemperature,precipitation,minWind,maxWind,geometry_y,temperature,wind,index_right,cellId
0,2013-11-01,00:04,1383260656,5fd4f31f75,Trento,it,00:00,POINT (11.13000 46.07000),T0129,312,...,11.7,16.0,0.0,0.2,2.0,POINT (11.13565308 46.07185136),13.2,1@47,2447,5201
1,2013-11-01,00:01,1383260474,68c0e98182,Pinzolo,tl,00:00,POINT (10.83000 46.23000),T0071,905,...,4.5,12.3,0.0,0.0,2.5,POINT (10.79582897 46.31340453),8.4,0.1@205,4152,7167
2,2013-11-01,00:43,1383262983,abe21fc052,Cavalese,en,00:40,POINT (11.46000 46.29000),T0367,958,...,7.0,13.0,0.0,0.0,1.8,POINT (11.45171306 46.28478205),8.8,NaN,4982,8151
3,2013-11-01,00:38,1383262717,94d1efbbfd,Rovereto,it,00:30,POINT (11.04000 45.89000),T0147,203,...,11.0,18.4,0.0,0.2,1.9,POINT (11.04378514 45.89643672),13.2,0.6@7,865,2855
4,2013-11-01,00:45,1383263140,d261d03075,San Michele all'Adige,ru,00:40,POINT (11.12000 46.20000),T0408,204,...,9.6,16.9,0.0,NaN,NaN,POINT (11.10461227 46.18722699),11.6,NaN,3847,6838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27931,2013-12-31,00:25,1388445948,826558e00e,Vigo di Fassa,it,00:20,POINT (11.68000 46.42000),T0096,1205,...,-10.0,0.3,0.0,NaN,NaN,POINT (11.6645808 46.38363633),-7.8,NaN,6143,9922
27932,2013-12-29,13:12,1388319166,06e9b1cdff,Predazzo,it,13:10,POINT (11.60000 46.31000),T0389,1000,...,0.4,3.7,0.0,NaN,NaN,POINT (11.59824667 46.29784352),3.4,NaN,5253,8513
27933,2013-11-19,00:51,1384818699,e61ce711d3,Sant'Orsola Terme,it,00:50,POINT (11.30000 46.11000),T0139,925,...,4.3,6.1,0.0,NaN,NaN,POINT (11.30223033 46.10709297),4.8,NaN,2915,5799
27934,2013-11-23,09:49,1385196576,e61ce711d3,Sant'Orsola Terme,it,09:40,POINT (11.30000 46.11000),T0139,925,...,-1.6,2.6,0.0,NaN,NaN,POINT (11.30223033 46.10709297),0.8,NaN,2915,5799
27935,2013-12-31,16:31,1388503893,e61ce711d3,Palù del Fersina,it,16:30,POINT (11.35000 46.13000),T0139,925,...,-4.0,4.2,0.0,NaN,NaN,POINT (11.30223033 46.10709297),-0.3,NaN,3119,6037

In [141]:
df_merged = df_merged.drop('index_right', axis=1)

In [142]:
df_merged

,date,time,timestamp_x,user,municipality.name,language,hour_blocks,geometry,station,elevation,timestamp_y,minTemperature,maxTemperature,precipitation,minWind,maxWind,geometry_y,temperature,wind,cellId
0,2013-11-01,00:04,1383260656,5fd4f31f75,Trento,it,00:00,POINT (11.13000 46.07000),T0129,312,1383260400,11.7,16.0,0.0,0.2,2.0,POINT (11.13565308 46.07185136),13.2,1@47,5201
1,2013-11-01,00:01,1383260474,68c0e98182,Pinzolo,tl,00:00,POINT (10.83000 46.23000),T0071,905,1383260400,4.5,12.3,0.0,0.0,2.5,POINT (10.79582897 46.31340453),8.4,0.1@205,7167
2,2013-11-01,00:43,1383262983,abe21fc052,Cavalese,en,00:40,POINT (11.46000 46.29000),T0367,958,1383260400,7.0,13.0,0.0,0.0,1.8,POINT (11.45171306 46.28478205),8.8,NaN,8151
3,2013-11-01,00:38,1383262717,94d1efbbfd,Rovereto,it,00:30,POINT (11.04000 45.89000),T0147,203,1383260400,11.0,18.4,0.0,0.2,1.9,POINT (11.04378514 45.89643672),13.2,0.6@7,2855
4,2013-11-01,00:45,1383263140,d261d03075,San Michele all'Adige,ru,00:40,POINT (11.12000 46.20000),T0408,204,1383260400,9.6,16.9,0.0,NaN,NaN,POINT (11.10461227 46.18722699),11.6,NaN,6838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27931,2013-12-31,00:25,1388445948,826558e00e,Vigo di Fassa,it,00:20,POINT (11.68000 46.42000),T0096,1205,1388444400,-10.0,0.3,0.0,NaN,NaN,POINT (11.6645808 46.38363633),-7.8,NaN,9922
27932,2013-12-29,13:12,1388319166,06e9b1cdff,Predazzo,it,13:10,POINT (11.60000 46.31000),T0389,1000,1388271600,0.4,3.7,0.0,NaN,NaN,POINT (11.59824667 46.29784352),3.4,NaN,8513
27933,2013-11-19,00:51,1384818699,e61ce711d3,Sant'Orsola Terme,it,00:50,POINT (11.30000 46.11000),T0139,925,1384815600,4.3,6.1,0.0,NaN,NaN,POINT (11.30223033 46.10709297),4.8,NaN,5799
27934,2013-11-23,09:49,1385196576,e61ce711d3,Sant'Orsola Terme,it,09:40,POINT (11.30000 46.11000),T0139,925,1385161200,-1.6,2.6,0.0,NaN,NaN,POINT (11.30223033 46.10709297),0.8,NaN,5799
27935,2013-12-31,16:31,1388503893,e61ce711d3,Palù del Fersina,it,16:30,POINT (11.35000 46.13000),T0139,925,1388444400,-4.0,4.2,0.0,NaN,NaN,POINT (11.30223033 46.10709297),-0.3,NaN,6037

In [143]:
#df_merged = pd.merge(df_merged, df_CSD, left_on='cellId', right_on='SQUAREID', how='inner')
# WARNING!: each cell has multiple lines!

In [144]:
df_lines = df_CSD.groupby(['LINEID']).sum()

In [159]:
df_lines['NR_SITES'].loc['DG1000023']

62

In [87]:
df_lines = pd.merge(df_LMD, df_lines, on='LINEID', how='inner')

In [89]:
df_lines = df_lines.rename(columns={"NR_SITES": "TOT_SITES"})
df_lines = df_lines.drop('SQUAREID', axis=1)

In [90]:
df_lines

           LINEID              TIME      VALUE  TOT_SITES
0       DG1000420  2013-11-01 00:00  37.439999       2133
1       DG1000420  2013-11-01 00:10  37.439999       2133
2       DG1000420  2013-11-01 00:20  36.000000       2133
3       DG1000420  2013-11-01 00:30  35.279999       2133
4       DG1000420  2013-11-01 00:40  35.279999       2133
...           ...               ...        ...        ...
794513  DG1056626  2013-11-30 23:10  46.549999       1667
794514  DG1056626  2013-11-30 23:20  44.650002       1667
794515  DG1056626  2013-11-30 23:30  44.599998       1667
794516  DG1056626  2013-11-30 23:40  43.700001       1667
794517  DG1056626  2013-11-30 23:50  43.125000       1667

[794518 rows x 4 columns]

In [91]:
df_lines = pd.merge(df_lines, df_CSD, on='LINEID', how='left')

In [92]:
df_lines

,LINEID,TIME,VALUE,TOT_SITES,SQUAREID,NR_SITES
0,DG1000420,2013-11-01 00:00,37.439999,2133,4037,2
1,DG1000420,2013-11-01 00:00,37.439999,2133,4154,13
2,DG1000420,2013-11-01 00:00,37.439999,2133,4155,20
3,DG1000420,2013-11-01 00:00,37.439999,2133,4156,2
4,DG1000420,2013-11-01 00:00,37.439999,2133,4269,1
...,...,...,...,...,...,...
10928875,DG1056626,2013-11-30 23:50,43.125000,1667,8502,1
10928876,DG1056626,2013-11-30 23:50,43.125000,1667,8503,4
10928877,DG1056626,2013-11-30 23:50,43.125000,1667,8621,1
10928878,DG1056626,2013-11-30 23:50,43.125000,1667,8972,25
10928879,DG1056626,2013-11-30 23:50,43.125000,1667,9089,8

In [93]:
df_lines['tot_curr_cell'] = (df_lines['VALUE']/df_lines['TOT_SITES'])*df_lines['NR_SITES']

In [94]:
df_lines

,LINEID,TIME,VALUE,TOT_SITES,SQUAREID,NR_SITES,tot_curr_cell
0,DG1000420,2013-11-01 00:00,37.439999,2133,4037,2,0.035105
1,DG1000420,2013-11-01 00:00,37.439999,2133,4154,13,0.228186
2,DG1000420,2013-11-01 00:00,37.439999,2133,4155,20,0.351055
3,DG1000420,2013-11-01 00:00,37.439999,2133,4156,2,0.035105
4,DG1000420,2013-11-01 00:00,37.439999,2133,4269,1,0.017553
...,...,...,...,...,...,...,...
10928875,DG1056626,2013-11-30 23:50,43.125000,1667,8502,1,0.025870
10928876,DG1056626,2013-11-30 23:50,43.125000,1667,8503,4,0.103479
10928877,DG1056626,2013-11-30 23:50,43.125000,1667,8621,1,0.025870
10928878,DG1056626,2013-11-30 23:50,43.125000,1667,8972,25,0.646746
10928879,DG1056626,2013-11-30 23:50,43.125000,1667,9089,8,0.206959

In [96]:
len(df_lines['SQUAREID'].unique())

1984

In [98]:
df_lines = df_lines.sort_values(by=['SQUAREID'])

In [99]:
df_lines

,LINEID,TIME,VALUE,TOT_SITES,SQUAREID,NR_SITES,tot_curr_cell
10363211,DG1031221,2013-11-03 14:30,21.840000,1380,155,4,0.063304
10375447,DG1031221,2013-11-07 07:10,39.000000,1380,155,4,0.113043
10375470,DG1031221,2013-11-07 07:20,40.680000,1380,155,4,0.117913
10373607,DG1031221,2013-11-06 17:50,65.279999,1380,155,4,0.189217
10375493,DG1031221,2013-11-07 07:30,43.439999,1380,155,4,0.125913
...,...,...,...,...,...,...,...
9035847,DG1013503,2013-11-17 18:50,14.700000,443,11099,3,0.099549
9035837,DG1013503,2013-11-17 18:40,14.525000,443,11099,3,0.098363
9046867,DG1013503,2013-11-25 10:30,43.424999,443,11099,3,0.294074
9046787,DG1013503,2013-11-25 09:10,40.674999,443,11099,3,0.275451
9029947,DG1013503,2013-11-13 16:30,15.375000,443,11099,3,0.104120

In [105]:
df_grouped = df_lines.groupby(['SQUAREID', 'TIME'], as_index=False).agg({'tot_curr_cell': 'sum'})

In [106]:
df_grouped

         SQUAREID              TIME  tot_curr_cell
0             155  2013-11-01 00:00       0.101565
1             155  2013-11-01 00:10       0.086957
2             155  2013-11-01 00:20       0.093913
3             155  2013-11-01 00:30       0.089391
4             155  2013-11-01 00:40       0.088696
...           ...               ...            ...
8566921     11099  2013-11-30 23:10       0.295767
8566922     11099  2013-11-30 23:20       0.297291
8566923     11099  2013-11-30 23:30       0.287472
8566924     11099  2013-11-30 23:40       0.280530
8566925     11099  2013-11-30 23:50       0.291027

[8566926 rows x 3 columns]

In [107]:
df_grouped['date'] = df_grouped['TIME'].str.split(' ', n=1).str[0]

In [109]:
df_grouped['hour_blocks'] = df_grouped['TIME'].str.split(' ', n=1).str[1]

In [113]:
df_grouped = df_grouped.drop('TIME', axis=1)

In [114]:
df_grouped

         SQUAREID  tot_curr_cell        date hour_blocks
0             155       0.101565  2013-11-01       00:00
1             155       0.086957  2013-11-01       00:10
2             155       0.093913  2013-11-01       00:20
3             155       0.089391  2013-11-01       00:30
4             155       0.088696  2013-11-01       00:40
...           ...            ...         ...         ...
8566921     11099       0.295767  2013-11-30       23:10
8566922     11099       0.297291  2013-11-30       23:20
8566923     11099       0.287472  2013-11-30       23:30
8566924     11099       0.280530  2013-11-30       23:40
8566925     11099       0.291027  2013-11-30       23:50

[8566926 rows x 4 columns]

In [117]:
df_final = pd.merge(
    df_merged, 
    df_grouped, 
    left_on=['cellId', 'date', 'hour_blocks'], 
    right_on=['SQUAREID', 'date', 'hour_blocks'], 
    how='left')

In [118]:
df_final

,date,time,timestamp_x,user,municipality.name,language,hour_blocks,geometry,station,elevation,...,maxTemperature,precipitation,minWind,maxWind,geometry_y,temperature,wind,cellId,SQUAREID,tot_curr_cell
0,2013-11-01,00:04,1383260656,5fd4f31f75,Trento,it,00:00,POINT (11.13000 46.07000),T0129,312,...,16.0,0.0,0.2,2.0,POINT (11.13565308 46.07185136),13.2,1@47,5201,5201.0,90.971940
1,2013-11-01,00:01,1383260474,68c0e98182,Pinzolo,tl,00:00,POINT (10.83000 46.23000),T0071,905,...,12.3,0.0,0.0,2.5,POINT (10.79582897 46.31340453),8.4,0.1@205,7167,7167.0,1.784586
2,2013-11-01,00:43,1383262983,abe21fc052,Cavalese,en,00:40,POINT (11.46000 46.29000),T0367,958,...,13.0,0.0,0.0,1.8,POINT (11.45171306 46.28478205),8.8,NaN,8151,NaN,NaN
3,2013-11-01,00:38,1383262717,94d1efbbfd,Rovereto,it,00:30,POINT (11.04000 45.89000),T0147,203,...,18.4,0.0,0.2,1.9,POINT (11.04378514 45.89643672),13.2,0.6@7,2855,2855.0,47.591226
4,2013-11-01,00:45,1383263140,d261d03075,San Michele all'Adige,ru,00:40,POINT (11.12000 46.20000),T0408,204,...,16.9,0.0,NaN,NaN,POINT (11.10461227 46.18722699),11.6,NaN,6838,6838.0,0.100372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27931,2013-12-31,00:25,1388445948,826558e00e,Vigo di Fassa,it,00:20,POINT (11.68000 46.42000),T0096,1205,...,0.3,0.0,NaN,NaN,POINT (11.6645808 46.38363633),-7.8,NaN,9922,NaN,NaN
27932,2013-12-29,13:12,1388319166,06e9b1cdff,Predazzo,it,13:10,POINT (11.60000 46.31000),T0389,1000,...,3.7,0.0,NaN,NaN,POINT (11.59824667 46.29784352),3.4,NaN,8513,NaN,NaN
27933,2013-11-19,00:51,1384818699,e61ce711d3,Sant'Orsola Terme,it,00:50,POINT (11.30000 46.11000),T0139,925,...,6.1,0.0,NaN,NaN,POINT (11.30223033 46.10709297),4.8,NaN,5799,NaN,NaN
27934,2013-11-23,09:49,1385196576,e61ce711d3,Sant'Orsola Terme,it,09:40,POINT (11.30000 46.11000),T0139,925,...,2.6,0.0,NaN,NaN,POINT (11.30223033 46.10709297),0.8,NaN,5799,NaN,NaN
27935,2013-12-31,16:31,1388503893,e61ce711d3,Palù del Fersina,it,16:30,POINT (11.35000 46.13000),T0139,925,...,4.2,0.0,NaN,NaN,POINT (11.30223033 46.10709297),-0.3,NaN,6037,NaN,NaN